<header>
  <div class="header-height"></div>
  <div class="main-header fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <img src="/images/kfc-logo.jpg" alt="KFC Logo" class="header-logo">
              </a>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link nav-text" href="/"><%=t('header.homePage')%></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-text" href="#"><%=t('header.deals')%></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-text" href="#"><%=t('header.stores')%></a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-end">
          <div class="nav-item"><a class="nav-link nav-text" href="?locale=vi"><%=t('header.vietnamese')%></a></div>
          <div class="nav-item ms-3"><a class="nav-link nav-text" href="?locale=en"><%=t('header.english')%></a></div>
          <div class="ms-3">
            <% if(typeof user !== 'undefined') { %>
              <a class="nav-link" href="#">
                <img src="<%=user.avatar%>" alt="Avatar" class="header-avatar rounded-circle">
              </a>
              <% } else { %>
              <a class="nav-link" href="/auth/login">
                <img src="/images/sample-avatar.png" alt="Avatar" class="header-avatar rounded-circle">
              </a>
            <% } %>
          </div>
          <div class="ms-3">
            <a class="nav-link" href="/cart">
              <img src="/images/cart.png" alt="Cart" class="header-icon">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
