<header class="p-3 border-bottom bg-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="navbar-brand" href="/home">
        <img src="/images/kfc-logo.jpg" alt="KFC Logo" class="header-logo">
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-mb-0">
        <li>
          <a class="nav-link px-2 nav-text" href="/home">
            <%=t('header.homePage')%>
          </a>
        </li>
        <li>
          <a class="nav-link px-2 nav-text" href="#">
            <%=t('header.deals')%>
          </a>
        </li>
        <li>
          <a class="nav-link px-2 nav-text" href="#">
            <%=t('header.stores')%>
          </a>
        </li>
      </ul>
      <a class="nav-link px-2 nav-text locale-link" data-locale="vi" href="#">
        <%= t('header.vietnamese') %>
      </a>
      <a class="nav-link px-2 nav-text locale-link" data-locale="en" href="#">
        <%= t('header.english') %>
      </a>
      <% if(typeof user !=='undefined' ) { %>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-toggle="dropdown">
            <img src="<%= typeof user !== 'undefined' && user.avatar ? user.avatar : '/images/sample-avatar.png' %>" alt="Avatar"
              class="header-avatar rounded-circle">
            <span class="nav-text">
              <%= user.userName %>
            </span>
          </a>
          <ul class="dropdown-menu mt-2">
            <li>
              <a href="/user/profile" class="dropdown-item">
                <%=t('header.profile')%>
              </a>
            </li>
            <li>
              <a href="/auth/logout" class="dropdown-item">
                <%=t('header.logout')%>
              </a>
            </li>
          </ul>
        </div>
        <% } else { %>
          <a class="navbar-brand" href="/auth/login">
            <img src="/images/sample-avatar.png" alt="Avatar" class="header-avatar rounded-circle">
          </a>
          <% } %>
      <a class="navbar-brand cart-icon-container" href="/cart">
        <% if(typeof cartItem !=='undefined' ) { %>
          <span class="cart-item-count">
            <%= cartItem %>
          </span>
          <% } %>
      </a>
    </div>
  </div>
</header>
