<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="/stylesheets/virtual-select.min.css" />
  <link rel="stylesheet" href="/stylesheets/admin-layout.css" />
  <link rel="icon" href="/images/kfc-logo.jpg" type="image/jpeg">
  <title>
    <%= (typeof currentSite !='undefined' ) ? t(currentSite) : t('admin.nav.default') %>
  </title>
</head>

<body>
  <div class="d-flex" id="wrapper">

    <%- include('../../layouts/admin/sidebar') -%>

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <%- include('../../layouts/admin/top-navbar') -%>
          <div class="container-fluid px-4">
            <div class="container-fluid bg-white p-4 rounded">
              <div>
                <h2 class="mb-1" id="order-id" data="<%=product.id%>">
                  <%= t('product.detail.name') + ': ' + product.name %>
                </h2>
              </div>
              <div class="row">
                <div class="col-md-4 mt-4">
                  <img src="<%=product.image%>" class="img-fluid rounded mx-auto d-block" alt="product image">
                </div>
                <div class="col-md-8 mt-4">
                  <div class="row">
                    <div class="col-md-6">
                      <p>
                        <strong>
                          <%= t('product.detail.id') %>:
                        </strong>
                        <%= product.id %>
                      </p>
                    </div>
                    <div class="col-md-6">
                      <p>
                        <strong>
                          <%= t('product.detail.createdAt') %>:
                        </strong>
                        <%= formatDate(product.createdAt) %>
                      </p>
                    </div>
                    <div class="col-md-6">
                      <p>
                        <strong>
                          <%= t('product.detail.currentPrice') %>:
                        </strong>
                        <%= formatCurrency(product.currentPrice) %>
                      </p>
                    </div>
                    <div class="col-md-6">
                      <p>
                        <strong>
                          <%= t('product.detail.basePrice') %>:
                        </strong>
                        <%= formatCurrency(product.basePrice) %>
                      </p>
                    </div>
                    <div class="col-md-6">
                      <p>
                        <strong>
                          <%= t('product.detail.category') %>:
                        </strong>
                        <%= product.categories[0].name %>
                      </p>
                    </div>
                    <div class="col-md-6">
                      <p>
                        <strong>
                          <%= t('product.detail.averageRating') %>:
                        </strong>
                        <%= product.averageRating %>
                      </p>
                    </div>
                    <div class="col-md-12">
                      <p>
                        <strong>
                          <%= t('product.detail.description') %>:
                        </strong>
                        <%= product.description %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- /#page-content-wrapper -->
  </div>
  <script src="/scripts/jquery.min.js"></script>
  <script src="/scripts/bootstrap.bundle.min.js"></script>
  <script src="/scripts/slim.min.js"></script>
  <script src="/scripts/virtual-select.min.js"></script>
  <script src="/scripts/admin-layout.js"></script>
</body>

</html>
