<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= t('product.search') %>
  </title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/product-search.css" />
  <link rel="icon" href="/images/kfc-logo.jpg" type="image/jpeg">
</head>

<body>
  <%- include('../../layouts/users/header') -%>
    <div class="container mt-2">
      <form id="search-product-form" method="get" class="mb-4">
        <div class="row">
          <div class="col-md-3">
            <div class="filter-card">
              <div class="filter-card-body">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-filter btn-danger mb-4 w-100"> 
                    <strong>
                      <%= t('title.applyFilter') %>
                    </strong>
                  </button>
                </div>
                <div class="input-group mb-3">
                  <input type="text" class="form-control rounded" placeholder="<%=t('home.search.placeHolder')%>"
                    name="keyword" value="<%=query.keyword%>">
                </div>
                <div class="mb-3">
                  <h6 class="filter-card-title mb-2">
                    <%=t('title.priceRange')%>
                  </h6>
                  <div class="filter-filter-filter-input-group">
                    <input type="number" class="form-control" placeholder="0 đ" aria-label="Minimum Price" min="0"
                      name="minPrice" value="<%=query.minPrice%>">
                    <span class="filter-filter-input-group-text"><%= t('page.to')%></span>
                    <input type="number" class="form-control" placeholder="500.000 đ" aria-label="Maximum Price" min="0"
                      max="1000000" value="<%=query.maxPrice%>" name="maxPrice">
                  </div>
                </div>
                <div class="filter-card-divider"></div>
                <div class="mb-3">
                  <h6 class="filter-card-title mb-2">
                    <%=t('title.sortField')%>
                  </h6>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="filter-form-check">
                        <input class="filter-form-check-input" type="radio" name="sortField" id="option1"
                          autocomplete="off" <%=query.sortField==='createdAt' ? 'checked' : '' %> value="createdAt">
                        <label class="filter-form-check-label" for="option1">
                          <%=t('product.sortField.createdAt')%>
                        </label>
                      </div>
                      <div class="filter-form-check">
                        <input class="filter-form-check-input" type="radio" name="sortField" id="option2"
                          autocomplete="off" <%=query.sortField==='currentPrice' ? 'checked' : '' %>
                        value="currentPrice">
                        <label class="filter-form-check-label" for="option2">
                          <%=t('product.sortField.currentPrice')%>
                        </label>
                      </div>
                      <div class="filter-form-check">
                        <input class="filter-form-check-input" type="radio" name="sortField" id="option3"
                          autocomplete="off" <%=query.sortField==='averageRating' ? 'checked' : '' %>
                        value="averageRating">
                        <label class="filter-form-check-label" for="option3">
                          <%=t('product.sortField.averageRating')%>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="filter-card-divider"></div>
                <div class="mb-3">
                  <h6 class="filter-card-title mb-2">
                    <%=t('title.sortOrder')%>
                  </h6>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="filter-form-check">
                        <input class="filter-form-check-input" type="radio" name="order" id="option1" autocomplete="off"
                          <%=query.order==='ASC' ? 'checked' : '' %> value="ASC">
                        <label class="filter-form-check-label" for="option1">
                          <%=t('product.sortOrder.ASC')%>
                        </label>
                      </div>
                      <div class="filter-form-check">
                        <input class="filter-form-check-input" type="radio" name="order" id="option2" autocomplete="off"
                          <%=query.order==='DESC' ? 'checked' : '' %> value="DESC">
                        <label class="filter-form-check-label" for="option2">
                          <%=t('product.sortOrder.DESC')%>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="filter-card-divider"></div>
                <div class="mb-3">
                  <h6 class="filter-card-title mb-2">
                    <%=t('title.category')%>
                  </h6>
                  <div class="filter-form-check">
                    <% categories.forEach(function(category) { %>
                      <div class="filter-form-check filter-form-check-inline">
                        <input class="filter-form-check-input" type="checkbox" value="<%= category.id %>"
                          id="category-<%= category.id %>" name="categoryIds" <%=(typeof query.categoryIds
                          !=='undefined' && query.categoryIds.includes(category.id.toString())) ? 'checked' : '' %>>
                        <label class="filter-form-check-label" for="category-<%= category.id %>">
                          <%= category.name %>
                        </label>
                      </div>
                      <% }); %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <% if (typeof products !=='undefined' && products.length> 0) { %>
                <% products.forEach((product)=> { %>
                  <div class="col-md-4">
                    <div class="card">
                      <a href="/products/<%= product.id %>">
                        <img src="<%= product.image %>" class="card-img-top" alt="Product Image">
                      </a>
                      <div class="card-body">
                        <a href="/products/<%= product.id %>">
                          <h5 class="card-title">
                            <%= product.name %>
                          </h5>
                        </a>
                        <div class="d-flex justify-content-left mb-2">
                          <p class="card-price">
                            <%= formatCurrency(product.currentPrice) %>
                          </p>
                          <% if(product.basePrice !==product.currentPrice) { %>
                            <p class="card-old-price">
                              <%= formatCurrency(product.basePrice) %>
                            </p>
                            <% } %>
                        </div>
                        <p class="star">
                          <% for(let k=0; k < product.averageRating; k++) { %> ★ <% } %>
                        </p>
                        <p class="card-text">
                          <%= product.description %>
                        </p>
                      </div>
                      <button type="submit" class="btn btn-primary addToCartBtn" onclick="addToCart(event, '<%= product.id %>')">
                        <strong>
                          <%= t('home.addToCartBtn') %>
                        </strong>
                      </button>
                    </div>
                  </div>
                  <% }) %>
                    <% } else { %>
                      <div class="d-flex justify-content-center align-items-center flex-column">
                        <h1>
                          <%= t('error.product.notFound') %>
                        </h1>
                        <img src="/images/product-not-found.png" alt="image">
                      </div>
                      <% } %>
            </div>
            <div class="pagination">
              <% if (meta.pageCount> 1) { %>
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    <% if (meta.hasPreviousPage) { %>
                      <li class="page-item">
                        <button type="submit" class="page-link" name="page"
                          value="<%= parseInt(meta.page) - 1 %>"><%=t('page.previous')%></button>
                      </li>
                      <% } %>
                        <% for (let i=1; i <=meta.pageCount; i++) { %>
                          <li class="page-item <%= parseInt(meta.page) === i ? 'active' : '' %>">
                            <button type="submit" class="page-link" name="page" value="<%= i %>">
                              <%= i %>
                            </button>
                          </li>
                          <% } %>
                            <% if (meta.hasNextPage) { %>
                              <li class="page-item">
                                <button type="submit" class="page-link" name="page"
                                  value="<%= parseInt(meta.page) + 1 %>"><%=t('page.next')%></button>
                              </li>
                              <% } %>
                  </ul>
                </nav>
                <% } %>
            </div>
          </div>
        </div>
      </form>
    </div>
</body>
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/bootstrap.bundle.min.js"></script>
<script src="/scripts/slim.min.js"></script>
<script src="/scripts/header.js"></script>
<script src="/scripts/utils.js"></script>
<script src="/scripts/sweetalert.min.js"></script>
<script src="/scripts/cart.js"></script>
</html>
