<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= t('title.orderDetail') %>
  </title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="icon" href="/images/kfc-logo.jpg" type="image/jpeg">
</head>

<body class="secondary-bg">
  <%- include('../../layouts/users/header') -%>
    <div class="container mt-4">
      <%- include('../../layouts/users/top-navbar') -%>
        <div id="content">
          <div class="container-fluid bg-white p-4 rounded">
            <div id="title" class="mb-2 border-bottom">
              <h2 class="mb-1">
                <%= t('order.detail.order') + ' #' + order.id %>
              </h2>
              <p class="text-muted">
                <%= formatDate(order.createdAt) %>
              </p>
            </div>
            <div class="mb-2">
              <div id="general-information" class="border-bottom">
                <div class="row">
                  <h4 class="mt-2">
                    <%= t('order.label.generalInformation') %>
                  </h4>
                  <div class="col-md-6">
                    <p>
                      <strong>
                        <%= t('order.label.orderType') %>:
                      </strong>
                      <%= order.orderType %>
                    </p>
                  </div>
                  <div class="col-md-6">
                    <p>
                      <strong>
                        <%= t('order.label.orderStatus') %>:
                      </strong>
                      <%= order.status %>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>
                      <strong>
                        <%= t('order.label.paymentType') %>:
                      </strong>
                      <%= order.paymentType %>
                    </p>
                  </div>
                  <div class="col-md-6">
                    <p>
                      <strong>
                        <%= t('order.label.paymentStatus') %>:
                      </strong>
                      <%= order.paymentStatus %>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p>
                      <strong>
                        <%= t('order.label.address') %>:
                      </strong>
                      <%= order.deliveryAddress %>
                    </p>
                  </div>
                </div>
                <% if(order.note) { %>
                  <div class="row">
                    <div class="col-md-12">
                      <p>
                        <strong>
                          <%= t('order.label.note') %>:
                        </strong>
                        <%= order.note %>
                      </p>
                    </div>
                  </div>
                  <% } %>
              </div>
              <div id="store-information" class="border-bottom">
                <h4 class="mt-2">
                  <%= t('order.label.storeInformation') %>
                </h4>
                <div class="row">
                  <div class="col-md-6">
                    <p><strong>
                        <%= t('order.label.storeName') %>:
                      </strong>
                      <%= order.store.name %>
                    </p>
                  </div>
                  <div class="col-md-6">
                    <p><strong>
                        <%= t('order.label.storePhone') %>:
                      </strong>
                      <%= order.store.phoneNumber %>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p><strong>
                        <%= t('order.label.storeAddress') %>:
                      </strong>
                      <%= order.store.address %>
                    </p>
                  </div>
                </div>
              </div>
              <% if(payment !== null) { %>
                <div id="payment-information" class="border-bottom">
                  <h4 class="mt-2">
                    <%= t('order.label.paymentInformation') %>
                  </h4>
                  <div class="row">
                    <div class="col-md-6">
                      <p><strong>
                          <%= t('order.label.bankCode') %>:
                        </strong>
                        <%= payment.bankCode %>
                      </p>
                    </div>
                    <div class="col-md-6">
                      <p><strong>
                          <%= t('order.label.transactionCode') %>:
                        </strong>
                        <%= payment.transactionCode %>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <p><strong>
                          <%= t('order.label.paymentAmount') %>:
                        </strong>
                        <%= payment.amount %>₫
                      </p>
                    </div>
                    <div class="col-md-6">
                      <p><strong>
                          <%= t('order.label.transactionTime') %>:
                        </strong>
                        <%= formatDate(payment.transactionTime) %>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12"> 
                      <p><strong>
                          <%= t('order.label.paymentMessage') %>:
                        </strong>
                        <%= payment.message %>
                      </p>
                    </div>
                  </div>
                </div>
              <% } %>          
            </div>
            <div id="order-item" class="mb-2">
              <h3>
                <%= t('order.label.orderItem') %>
              </h3>
              <table class="table table-striped">
                <tbody>
                  <% order.orderProducts.forEach((item)=> { %>
                    <tr>
                      <td class="product-image align-middle">
                        <a href="/products/<%= item.product.id %>">
                          <img src="<%= item.product.image %>" class="img-fluid rounded" alt="Product Image"
                            style="max-width: 100px;">
                        </a>
                      </td>
                      <td class="product-name align-middle">
                        <a href="/products/<%= item.product.id %>" class="text-decoration-none text-dark">
                          <h5 class="mb-1">
                            <%= item.product.name %>
                          </h5>
                        </a>
                      </td>
                      <td class="product-description align-middle">
                        <p class="mb-0 text-muted">
                          <%= item.product.description %>
                        </p>
                      </td>
                      <td class="product-price align-middle">
                        <%= item.price %>₫
                      </td>
                      <td class="product-quantity text-end align-middle">
                        <%= 'x' + item.quantity %>
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
            <div id="order-value" class="mt-2">
              <div class="row">
                <div class="col-md-6">
                  <p><strong>
                      <%= t('order.subTotal') %>:
                    </strong></p>
                </div>
                <div class="col-md-6 text-end">
                  <p id="order-subtotal">
                    <%= order.total - order.shippingFee %>₫
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p><strong>
                      <%= t('order.shippingFee') %>:
                    </strong></p>
                </div>
                <div class="col-md-6 text-end">
                  <p id="shipping-fee">
                    <%= order.shippingFee %>₫
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h4><strong>
                      <%= t('order.total') %>:
                    </strong></h4>
                </div>
                <div class="col-md-6 text-end">
                  <h4 id="orderTotal">
                    <%= order.total %>₫
                  </h4>
                </div>
              </div>
            </div>
            <% if(order.status==='PENDING' ) { %>
              <div>
                <button class="btn btn-danger" onclick="updateOrderStatus(event, '<%= order.id %>', 'CANCELED')">
                  <strong>
                    <%= t('order.button.cancel') %>
                  </strong>
                </button>
              </div>
              <% } %>
          </div>
        </div>
    </div>
</body>
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/bootstrap.bundle.min.js"></script>
<script src="/scripts/slim.min.js"></script>
<script src="/scripts/header.js"></script>
<script src="/scripts/utils.js"></script>   
<script src="/scripts/sweetalert.min.js"></script>
<script src="/scripts/updateOrder.js"></script>

</html>
